node_modules/
**/node_modules/
**/Pods/
apps/rn/ios/Pods/

.expo/
.tamagui/
dist/
out/
.vite/
.webpack/
build/
**/build/
android/build/
ios/build/
**/android/build/
**/ios/build/
tsconfig.tsbuildinfo
**/tsconfig.tsbuildinfo

package-lock.json
pnpm-lock.yaml
.DS_Store
**/.DS_Store

apps/electron/src/routeTree.gen.ts